html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* no formations ---------------------- */

/* color scheme ----------------------  */

:root {
  --cor-1: #000;
  --cor-2: #fff;
  --cor-3: #3f4a91;
  --cor-4: #f0f0f0;
}

/* -------------------- */

body {
  background-image: url("images/backg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: var(--cor-2);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
}

.headerContent {
  border-bottom: 5px solid var(--cor-1);
}

.headerContent h2 {
  font-size: 30px;
}

.headerContent h1 {
  font-size: 45px;
}
.pfp {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp img {
  display: block;
  border: 5px solid var(--cor-4);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  }

  .about-me {
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
    font-size: 14px;
  }

  .myInfo {
    text-align: justify;
    margin-top: 2em;
    line-height: 35px;
  }

  .myInfo h2 {
  font-size: 30px;
  margin-bottom: 1mm;
  }

  .p2 {
    margin-top: 1em;
  }

  .myskills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
  }

  .mySkills h2 {
    margin-top: 2em;
    font-size: 30px;
    margin-bottom: 1mm;
    }