html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* no formations ---------------------- */

/* color scheme ----------------------  */

:root {
  --cor-1: #000;
  --cor-2: #fff;
  --cor-3: #3f4a91;
  --cor-4: #f0f0f0;
}

/* -------------------- */

body {
  background-image: url("images/backg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: var(--cor-2);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 1500px;
}

.headerContent {
  border-bottom: 5px solid var(--cor-1);
  width: 85%;
}

.headerContent h2 {
  font-size: 30px;
}

.headerContent h1 {
  font-size: 45px;
}
.pfp {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp img {
  display: block;
  border: 5px solid var(--cor-4);
  border-radius: 10px;
  width: 282px;
  height: 282px;
}

.about-me {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  font-size: 16px;
}

.myInfo {
  text-align: justify;
  margin-top: 2em;
  line-height: 35px;
}

.myInfo h2 {
  font-size: 30px;
  margin-bottom: 1mm;
}

.p2 {
  margin-top: 1em;
}

.imgProject1 {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgProject1 img {
  display: block;
  border: 5px solid var(--cor-4);
  border-radius: 10px;
  width: 450px;
  height: 250px;
  margin-bottom: 2em;
}

.mySkills {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  font-size: 16px;
  line-height: 25px;
}

.project1 {
  text-align: justify;
  margin-top: 2em;
}

.mySkills h2 {
  font-size: 30px;
  margin-bottom: 1mm;
}

.project1 h3 {
  font-size: 20px;
  margin-bottom: 1em;
}

a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: block;
  gap: 5px;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
img,svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

a.button:hover {
  transform: scale(1.05);
}


.techIcon {
  width: 42px;
  height: 42px;
  margin-top: 1em;
}

.footer {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  font-size: 16px;
  display: flex;
}
.icons{
text-align: justify;
margin-top: 2em;
line-height: 35px;
}

.icon-img{
  transition: transform 0.2s ease-in-out;
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

.icon-img:hover{
  transform: scale(1.55);
}
