* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-1: #000;
  --cor-2: #fff;
  --cor-3: #3f4a91;
}

body {
  /* background-image: url("images/background.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cyan;
}

.wrapper {
  background-color: var(--cor-2);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
}

.headerContent {
  border-bottom: 5px solid var(--cor-1);
}
/* .hello {
  padding-left: 2em;
}
.headerContent h2 {
  font-size: 35px;
  padding-left: 6em;
}
.name {
  padding-left: 2em;
}

.headerContent h1 {
  font-size: 100px;
}

.pfp img {
  height: auto;
  width: 250px;
  display: block;
}
.pfp {
  display: flex;
  border: 5px solid var(--cor-1);
  border-radius: 5px;
  margin-right: 2em;
} */

/* .about-me {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  font-size: 18px;
}
 */
/* .myInfo {
  text-align: justify;
}

.border1 {
  background-color: var(--cor-5);
  border: 5px solid var(--cor-1);
  color: var(--cor-2);
  width: 20%;
  height: auto;
  text-align: center;
  border-radius: 5px;
}

.mySkills {
  display: inline-flex;
}
.border1 img {
  position: relative;
  width: 100%;
} 
  */
